@charset "UTF-8";
:root {
  --accent-color: #66c3ca9c;
  --accent-hover-color: #7febf391;
  --brand-color: #66c3ca;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --secondary-accent: #b8af88;
  --icon-color: #afb1b8;
  --socials-footer: rgba(255, 255, 255, 0.1);
  --wwd-img-description: rgba(47, 48, 58, 0.8);
  --border-icon: rgba(0, 0, 0, 0.1);
  --backdrop: rgba(0, 0, 0, 0.2);
  --main-font: 'Amatic SC', cursive;
  --secondary-font: Raleway, sans-serif;
  --brand: 'Amatic SC', cursive;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  margin: 0;
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
  background-color: rgba(121, 173, 173, 0.438);
  color: var(--secondary-background-color);
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  min-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.178;
  letter-spacing: 0.6em;
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--secondary-accent);
}

.logo__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__icon {
  fill: var(--secondary-background-color);
}

.footer .logo__icon {
  fill: var(--secondary-accent);
}

/*  HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 10px;
  background-color: var(--primary-background-color);
  color: var(--secondary-background-color);
}

.header__title {
  font-family: var(--brand);
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.menu-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 1000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-btn:hover .menu-btn__icon,
.menu-btn:active .menu-btn__icon {
  fill: var(--secondary-accent);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu-btn__icon {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu-btn .menu-btn__icon-cross {
  display: none;
}

.menu-btn.is-open .menu-btn__icon-cross {
  display: block;
}

.menu-btn.is-open .menu-btn__icon-menu {
  display: none;
}

.menu-modal__container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100vw;
  min-height: 240px;
  padding: 27px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.767);
}

.menu-modal__container.is-open {
  display: flex;
  flex-direction: column;
}

.site-nav {
  width: 90%;
}

.site-nav__item {
  margin-bottom: 10px;
}

.site-nav__item:last-child {
  margin-bottom: auto;
}

.site-nav__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-background-color);
  text-decoration: none;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.site-nav__link:hover, .site-nav__link:focus,
.site-nav__link:hover .site-nav__icon,
.site-nav__link:focus .site-nav__icon {
  color: var(--brand-color);
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.site-nav__icon {
  margin-right: 8px;
  fill: currentColor;
}

.hero__overlay {
  width: 100%;
  margin-top: 60px;
  background-image: linear-gradient(to right, rgba(38, 38, 46, 0.699), rgba(47, 48, 58, 0.226)), url("../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: var(--secondary-background-color);
}

.hero {
  padding: 100px 60px;
  text-align: center;
}

.hero__text {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.615;
  letter-spacing: 0.056em;
  color: var(--primary-background-color);
}

.hero__btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 20px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--accent-hover-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  padding: 70px 20px;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: var(--backdrop);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden .hero-modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal {
  position: relative;
  width: 100%;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  z-index: 2000;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
  border-radius: 4px;
}

.hero-modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.hero-modal__btn:hover .hero-modal__icon-cross,
.hero-modal__btn:focus .hero-modal__icon-cross {
  fill: var(--brand-color);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.hero-modal__icon-cross {
  display: inline-block;
  transform-origin: center;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.hero-modal__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.7;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.hero-modal__contacts {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.hero-modal__item {
  margin-bottom: 10px;
}

.hero-modal__item:last-child {
  margin-bottom: 0;
}

.hero-modal__link {
  display: inline-block;
  padding: 15px;
  min-width: 100%;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  border: 3px solid transparent;
  text-decoration: none;
  cursor: pointer;
}

.hero-modal__link:hover, .hero-modal__link:focus {
  border-color: var(--accent-color);
}

/* Преимущества */
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__item {
  max-width: 450px;
  text-align: center;
  margin-bottom: 30px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}

.features__text {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  color: var(--secondary-text-color);
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  fill: var(--secondary-accent);
  background-color: var(--background-team-btn-icons);
  border-radius: 4px;
}

/* Filter */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 15px 0;
}

.filter__item {
  margin-top: 10px;
  margin-right: 5px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__btn {
  display: inline-block;
  padding: 6px 22px;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: var(--background-team-btn-icons);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.filter__btn:hover, .filter__btn:focus, .filter__btn:active {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  border: 1px solid var(--accent-color);
}

/* Card-set */
* {
  outline: 1px solid salmon;
}

.card-set {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-set__item {
  max-width: 450px;
  outline: 1px solid red;
}

.card-set__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: inherit;
}

.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__img {
  margin: 0;
  object-fit: fill;
  object-position: center;
}

.card-set__description {
  width: 100%;
  padding: 20px 24px;
  border-right: 1px solid var(--border-card);
  border-bottom: 1px solid var(--border-card);
  border-left: 1px solid var(--border-card);
}

.card-set__title {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

.card-set__text {
  width: 100%;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.card-set__thumb {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.55;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin: -15px;
}

.clients-list__item {
  height: 90px;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 12 * 15px) / 6);
    height: 90px;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

.brands__text {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}

/* FOOTER */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
}

.contacts {
  text-align: center;
}

.contacts__link {
  display: block;
  margin-top: 10px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: var(--primary-background-color);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

@media screen and (min-width: 1200px) {
  .contacts__title {
    margin: 0;
  }
}

/* socials-footer */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--socials-footer);
  color: var(--primary-background-color);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */