:root {
  // цвета
  --accent-color: #66c3ca9c;
  --accent-hover-color: #7febf391;
  --brand-color: #66c3ca;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --secondary-accent: #b8af88;
  --icon-color: #afb1b8;
  --socials-footer: rgba(255, 255, 255, 0.1);
  --wwd-img-description: rgba(47, 48, 58, 0.8);
  --border-icon: rgba(0, 0, 0, 0.1);
  --backdrop: rgba(0, 0, 0, 0.2);

  // шрифты
  --main-font: 'Amatic SC', cursive;
  //  Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --brand: 'Amatic SC', cursive;
}
